<footer>
    <div class="f-info">
        <div class="f-info-socials">
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-x-twitter"></i>
        </div>
        <div>&copy; wanderlust</div>
        <div class="f-info-links">
            <a href="/pricavy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>