<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listings" method="post">
        
        <input type="text" id="title" name="listing[title]" placeholder="title">
        <br><br>
        <input type="text" id="description" name="listing[description]" placeholder="description">
      <br><br>
        <input type="text" id="imagelink" name="listing[image]" placeholder="imagelink">
        <br><br>
        <input type="number" id="price" name="listing[price]" placeholder="price">
       <br><br>
        <input type="text" id="location" name="listing[location]" placeholder="location">
       <br><br>
        <input type="text" id="country" name="listing[country]"  placeholder="location">
        <button>submit</button>
    </form>
</body>
</html>